.offers {
  display: flex;
  margin: 20px 30px;
  padding: 0px 170px;
  background-color: rgb(241, 230, 239);
  height: 65%;
}
.offers-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;
}
.offers-left h1 {
  color: #171717;
  font-size: 70px;
  font-weight: 600;
  margin: 0 10px;
}
.offers-left p {
  color: #171717;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}
.offers-left button {
  width: 282px;
  height: 70px;
  border-radius: 35px;
  background-color: rgb(194, 60, 60);
  color: white;
  font-size: larger;
  font-weight: 300;
  outline: none !important;
  margin-top: 30px 0;
  cursor: pointer;
}

.offers-right{
    flex: 1;
    display: flex;
    justify-content: flex-end;

}
.offers-right img{
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 230, 239);
    width: 50%;
    height: auto;
}
