.relatedProducts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  height: 90vh;
}
.relatedProducts h1 {
  color: #171717;
  font-size: 50px;
  font-weight: 600;
}
.relatedProducts hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background-color: #252525;
}
.relatedProducts-items {
  margin-top: 50px;
  gap: 30px;
  display: flex;
}
